{% extends "base.html" %}

{% block title %}Detalhes da Legislação{% endblock %}

{% block content %}
    <div class="card">
        <h2>{{ legislacao.titulo }}</h2>
        {% if legislacao.subtitulo %}
            <p class="subtitulo">{{ legislacao.subtitulo }}</p>
        {% endif %}
        
        {% if legislacao.link_externo %}
            <p><a href="{{ legislacao.link_externo }}" target="_blank" rel="noopener noreferrer">Ver documento completo</a></p>
        {% endif %}
        <hr>
        <div class="conteudo-legislacao">
            {{ legislacao.conteudo | safe }}
        </div>
    </div>
    <div class="button-group" style="margin-top: 20px;">
        <a href="{{ url_for('user.listar_legislacao') }}" class="btn btn-secondary">Voltar para a Legislação</a>
    </div>
{% endblock %}
